.mongodb-logo {
    width: 160px;
    height: 60px;
    background-image: url("mongodb-logo.png");
    background-size: 160px;
    background-repeat: no-repeat;
}

.open-new-window {
    background-image: url('open-new-window.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 180px;
    width: 200px;
    height: 20px;
}